[user]
	email = danlafeir@users.noreply.github.com
	name = Dan Lafeir
	signingkey = A0197D59CD49AE79
[alias]
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  s = status
  co = checkout
  b = branch
  pr = "pull --rebase"
  c = commit
  fullhashlog = "log --graph --abbrev-commit '--format=format:%H %C(yellow)%ci%Creset %Cgreen%an%Creset | %s'"
  w = whatchanged
  unpushed = !"PROJ_BRANCH=$(git symbolic-ref HEAD | sed 's|refs/heads/||') && git log origin/$PROJ_BRANCH..HEAD"
  can = commit --amend --no-edit
[push]
  default = simple
[color]
  ui = auto
  pager = true
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[commit]
	gpgsign = true
[gpg]
	program = gpg
